main{
	color: white;
}

#titulos h2{
	font-family: 'Bangers', cursive;
	background-color: #ff3000;
	text-align: center;
	color: black;
	padding: 6px;
	overflow: hidden;
}

#titulos h3, h4{
	font-family: 'Bangers', cursive;
	text-align: center;
	margin: 10px;
}

h4{
	text-align: left;
}

.form-item{
	padding: 5px;
	margin-left: 15px;
	padding-bottom: 10px;
}

.label{
	text-align: left;
	margin-right: 10px;
}

.equals{
	display: flex;
	flex-direction: row;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-item input[type='text'], .form-item input[type=numeric], .form-item select{
	border: none;
	border-radius: 2px;
}

.form-item, input[placeholder], .form-item select{
	font-family: 'Allan', cursive;
	padding: 5px;
}

#docs input:disabled{
	display: none;
}

#docs input:enabled{
	display: inline;
}

#docs span{
	margin-left: 5px;
}

#nacE, #nacN, #doeY, #doeN{
	margin: 10px;
}

#terms{
	padding: 5px;
}

#compl{
	width: 270px;
}

#rua{
	width: 303px;
}

.botoes{
	text-align: center;
	margin: 10px;
}

.botoes input{
	font-family: 'Bangers', cursive;
	padding: 9px;
	margin: 10px;
	border: none;
	border-radius: 3px;
	width: 100px;
}

.botoes input[type=button]:hover{
	background-color: #c4c4bb;
}

.botoes #botaoconfirm{
	background-color: green;
	color: white;
}

.botoes #botaoreset{
	background-color: yellow;
	color: black;
}